/* #region Init */

*,
*:after,
*:before {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
}

body {
    margin: 0;
    font-family: "Lexend", -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

header {
    width: 100%;
    background-color: #323232;
    color: white;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 1.5em;
        margin: 0.75rem;
        margin-left: 1rem;
        font-weight: 400;
    }

    h1:active {
        filter: brightness(0.85);
    }

    .infoButton {
        font-size: 1.5em;
        color: white;
        cursor: pointer;
        background: none;
        border: none;
        margin-right: 1rem;
    }

    .infoButton:active {
        filter: brightness(0.85);
    }
}

.profile {
    img {
        width: 150px;
        border-radius: 50%;
        cursor: pointer;
    }
    h1 {
        margin-top: 1rem;
        font-size: 2em;
        font-weight: 500;
        user-select: none;
    }

    span {
        background-color: black;
        color: white;
        padding: 0 0.5rem 0 0.5rem;
        user-select:text;
    }
}

.dashboard {
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
        "app app app app"
        "app app app app";
    justify-content: center;
    gap: 20px;

    .app {
        width: 125px;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: transform 0.2s, box-shadow 0.2s;
        
        h2 {
            font-size: 1em;
            font-weight: 400;
            user-select: none;
        }
    
        i {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 90px;
            height: 90px;
            margin: 0.7rem 0 0.5rem 0;
            border-radius: 1rem;
            user-select: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3em;
            color: white;
            cursor: pointer;
        }

        i:active {
            filter: brightness(0.85);
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 0.5rem;
}

.closeButton {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeButton:hover,
.closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* #region Mobile Optimization */

@media screen and (max-width: 900px){ /* Tablets */

}

@media screen and (max-width: 480px){ /* Phones */

}

/* #endregion */